body {
    font-family: sans-serif;
    background-color: #000000;
    color: #bebebe;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-image: linear-gradient(to bottom right, #fefefe, #425eff);
    background-position: 50% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sub-heading {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .coming-soon {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 1rem;
    border: 1px #bebebe solid;
    display:inline-block;
    padding: 0.5rem 0.8rem;
  }

  .author {
    font-size: 0.7rem;
  }

  a {
    color: #fff
  }
  
  
  /* Media queries to adjust for mobile devices */
  @media only screen and (max-width: 600px) {
    .heading {
      font-size: 3rem;
    }
    
    .description {
      font-size: 1.5rem;
    }
  }
  